body {
  margin: 0;
  padding: 0;
  background: #673AB7;
  font-family: "Montserrat", Arial, Helvetica, sans-serif
}

#top {
  background: teal;
}

.card {
  margin: 0 100px 100px 100px;
  /* padding: 10px 20px 10px 20px; */
  background: white;
  border-radius: 0 0 5px 5px;
  transition: 750ms ease-in-out;
}

#end-card {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  bottom: 0;
  margin: 100px;
}

#info-card {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  bottom: 0;
  margin: 100px;
}

#map {
  border-radius: 5px 5px 0 0;
  transition: 750ms ease-in-out;
}

.card-header {
  padding: 20px 30px 0 30px;
}

.card-inner {
  overflow-x: hidden;
}

#main-card .card-inner {
  transition: 500ms;
}

.card-content {
  padding: 0 30px 20px 30px;
}

.map-wrapper {
  padding: 100px 100px 0 100px;
  overflow: hidden;
}

h2, h3, h4 {
  font-family: "Scope One", Arial, Helvetica, sans-serif;
}

#title {
  position: absolute;
  font-family: "Scope One", Arial, Helvetica, sans-serif;
  margin-left: 100px;
  margin-top: 25px;
  font-size: 3em;
  font-weight: bolder;
  color: white;
}

.video {
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

#nxt-fab {
  top: calc(40vh + 62.5px);
  right: 12px;
  transition: 250ms ease-in-out;
}

#pre-fab {
  top: calc(40vh + 62.5px);
  left: 12px;
  transition: 250ms ease-in-out;
}

#vid-fab {
  bottom: 12px;
  right: 100px;
  transform: scale(1);
}

#info-fab {
  bottom: 12px;
  right: 200px;
  transform: scale(1);
}

#card-wrapper {
  overflow: hidden;
}

.fab {
  background: #8C9EFF;
  height: 75px;
  width: 75px;
  position: fixed;
  display: grid;
  text-align: center;
  border-radius: 100%;
  cursor: pointer;
  color: black;
  box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
  z-index: 99999;
  transition: 250ms ease-in-out;
  transform: scale(0);
}

.fab:active {
  box-shadow: 0px 5px 10px 1px rgba(0,0,0,.20), 0px 5px 10px 0 rgba(0,0,0,.18), 0 3px 6px -2px rgba(0,0,0,.25);
}

@keyframes ripple-card {
  0% {
    transform: scale(0);
    border-radius: 1000px;
  }
  100% {
    transform: scale(1);
    border-radius: 5px;
  }
}

@keyframes ripple-card-reverse {
  0% {
    transform: scale(1);
    border-radius: 5px;
  }
  100% {
    transform: scale(0);
    border-radius: 1000px;
    display: none;
  }
}

@keyframes ripple {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  35% {
    opacity: .4;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes idle {
  from {
    opacity: 0
  }
  to {
    opacity: 0
  }
}

.ripple {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  animation: idle 1ms forwards;
}

.fab-icon {
  vertical-align: middle;
}
